<article class="article container">
    <div class="main-content">
        <h1 class="data_title"><%= data.title  %></h1>
        <p class="data_description" ><%= data.body %></p>
    </div>
    <div class="img_block">
        <img src="<%= data.img  %>" alt="" class="data_img">
    </div>
</article>
