<div class="author">
    <h1 class="author__heading">Search Results</h1>
</div>
<div>
    <ul class="article__ul">
        <% data.forEach(article => { %>
        <li>
            <a href="/post/<%= article._id  %>">
                    <span><%= article.title  %></span>
                    <!-- <span class="article-min_title"></span> -->
                    <span >See it <span class="hand">👉</span></span>
            </a>

        </li>
        <% }) %>
    </ul>
</div>
